@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700);























#menu-0 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-0 .navbar-caption {
  color: #ffffff;
}
#menu-0 .navbar-toggler {
  color: #330000;
}
#menu-0 .close-icon::before,
#menu-0 .close-icon::after {
  background-color: #330000;
}
#menu-0 .link,
#menu-0 .dropdown-item {
  color: #330000;
  font-family: 'Lato', sans-serif;
}
#menu-0 .link {
  font-size: 0.8rem;
}
#menu-0 .dropdown-item,
#menu-0 .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#menu-0 .link:hover,
#menu-0 .dropdown-item:hover,
#menu-0 .link:focus,
#menu-0 .dropdown-item:focus {
  color: #c0a375;
}
#menu-0 .link[aria-expanded="true"],
#menu-0 .dropdown-menu {
  background: #e6e6e6;
}
#menu-0 .nav-dropdown-sm .link:focus,
#menu-0 .nav-dropdown-sm .link:hover,
#menu-0 .nav-dropdown-sm .dropdown-item:focus,
#menu-0 .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-0 .navbar,
#menu-0 .nav-dropdown-sm,
#menu-0 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-0 .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-0 .bg-color.transparent .link {
  color: #330000;
  transition: none;
}
#menu-0 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-0 .bg-color.transparent.opened .link:hover,
#menu-0 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-0 .link[aria-expanded="true"],
#menu-0 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#header1-0 H1 {
  font-size: 46px;
  font-family: 'Lato', sans-serif;
}
#header1-0 I {
  color: #3d0000;
}
#header1-0 P {
  text-align: center;
  color: #530000;
}
#header1-0 .mbr-section-title I {
  color: #3d0000;
  font-family: 'Lato', sans-serif;
}
#header1-0 .mbr-section-lead {
  color: #3d0000;
  font-family: 'Lora', serif;
}
#features2-0 .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #efefef;
}
#features2-0 H5 {
  color: #7e9b9f;
}
#features2-0 P {
  color: #000000;
}
#features2-0 H4 {
  color: #000000;
}
#features2-0 .mbr-cards-col:nth-child(odd) .card-text {
  text-align: center;
  font-family: 'Lora', serif;
}
#features2-0 .mbr-cards-col:nth-child(odd) .card-title {
  font-family: 'Lato', sans-serif;
}
#features2-0 .mbr-cards-col:nth-child(even) .card-title {
  font-family: 'Lato', sans-serif;
}
#features2-0 .mbr-cards-col:nth-child(even) .card-text {
  font-family: 'Lora', serif;
}
#features2-0 .btn {
  font-family: 'Lato', sans-serif;
}
#testimonials1-0 .mbr-section-title {
  color: #3d0000;
  font-family: 'Lato', sans-serif;
}
#testimonials1-0 .card-footer > small {
  color: #c1c1c1;
  font-family: 'Lora', serif;
}
#testimonials1-0 .card-block P {
  font-family: 'Lora', serif;
}
#testimonials1-0 .card-footer > div {
  font-family: 'Lato', sans-serif;
}
#index-header3-0 .mbr-section-title,
#index-header3-0 .mbr-section-subtitle {
  text-align: center;
}
#index-header3-0 H3 {
  font-family: 'Lato', sans-serif;
  color: #3d0000;
}
#index-content1-0 P {
  font-family: 'Lato', sans-serif;
}
#form1-0 .mbr-section-title {
  color: #3d0000;
  font-family: 'Lato', sans-serif;
}
#form1-0 .form-control-label {
  color: #232323;
}
#form1-0 .btn {
  font-family: 'Lato', sans-serif;
}
#contacts2-0 P {
  color: #3d0000;
  font-family: 'Lato', sans-serif;
}
#contacts2-0 STRONG {
  color: #530000;
  font-family: 'Lato', sans-serif;
}
#footer1-0 P {
  color: #232323;
  font-family: 'Lato', sans-serif;
}
